body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15%;
    background-color: #1F2937;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
}

.top-left > button {
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

.top-left {
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

a {
    text-decoration: none;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top > * {
    flex: 1;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-boxes {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

.box-desc {
    margin: 0 2% 5% 2%;
    text-align: center;
}

.blue-box {
    width: 15vw;
    height: 15vh;
    border: 2px solid #3882F6;
    border-radius: 25px;
}

.middle, .action{
    background-color: white;
}

.top, .middle, .action, .quote {
    margin: 0 -9999rem;
    padding: 5rem 9999rem;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote > span {
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    font-style: normal;
    padding: 0;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}